@page
@model testcrud3.Pages.CRUD.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TestDb[0].DatabaseVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestDb[0].VersionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TestDb[0].ModifiedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TestDb.ToList()) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DatabaseVersion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VersionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ModifiedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.SystemInformationId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.SystemInformationId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.SystemInformationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
